@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
a{ text-decoration:none; color:#000;}
fieldset, img { border:0;}
img{display: block;}
ul,li{ list-style:none;}
body{ font-size:12px; font-family:"微软雅黑";  background: #EDEDED;}

/*包住1190px在中间*/
#center{ width: 1190px; overflow: hidden; margin: 0 auto; display: block;}

/*商品路径地址条div*/
.crumb {padding: 15px 0; font-size: 14px; color: #666; width: 1190px; height: 20px;}
.crumb .arrow {display: inline-block; width: 7px; height: 14px; margin: 0 8px; vertical-align: middle; background: url(../images/50384.png) no-repeat center 3px;}
.crumb a:hover{ color: #e14041;}
.crumb .active{ display: inline-block; height: 19px;  overflow: hidden;  text-overflow: ellipsis;vertical-align: -3px; white-space: nowrap;  width: 280px;}

/*放大镜效果总的div*/
.detail_meta{ width: 1190px; height: 578px; float: left;}
/*左边*/
.detail_meta .preview { float: left; width: 420px;height: 578px; position: relative; }
.preview .bigImg {position: relative; float: left; width: 100%; height: 420px; overflow: hidden; line-height: 420px;}
#winSelector{position: absolute; width: 140px; height: 140px; background:black; opacity:0.15;cursor: crosshair; top:0; left:0; display:none;}
/*小图片*/
.preview .smallImg{width: 420px; height: 85px; margin: 15px 0; position: relative; float: left;}
.preview .smallImg .pre,.next{width: 20px; height: 85px; color: #9a9a9a; cursor: pointer; line-height: 85px;float: left; font-size:20px;text-align: center; font-weight: bold; font-family:"arial rounded mt bold";}
.preview .smallImg .ulview{width: 380px; height: 85px; float: left; overflow: hidden;}
.preview .smallImg ul{width: 475px; height: 85px;}
.preview .smallImg ul li{cursor: pointer; float: left; width: 79px; height: 79px;border:3px solid #fff; margin-right: 10px; overflow: hidden; text-align: center;}
.preview .smallImg ul .cur{width: 79px; height:79px; border:3px solid #E14041;}
/*放大的大图片*/
#bigView { position: absolute; border: 1px solid #959595; left: 440px; top: 0;  width: 418px; height: 418px;  overflow: hidden;  z-index:3;}
/*分享链接*/
#share{width: 420px; height: 28px;float: left; font-size: 14px; color: #333; float: left;margin-bottom: 15px;}
#share .title { float: left;  margin-right: 15px; height: 16px; line-height: 16px; }
.jiathis_style{display: inline-block;}

/*右边部分*/
.detail_right{width:733px; height: 428px; margin-bottom: 20px; float: right; position: relative;}
.detail_right .name {color: #333; font-size: 22px; width: 100%;line-height: 26px; float: left; margin: 5px 0 5px 0;}
.detail_right .introduce {color: #555; float: left; font-size: 14px;line-height: 20px; width: 100%;}
.detail_right .money { width: 100%;float: left; border-bottom: 1px solid #dedede; font-size: 14px; color: #333; line-height: 60px; margin-top: 2px;}
.detail_right .money .textPrimary {  display: inline-block;font-size: 26px; color: #e14041; margin: 0 20px; position: relative;  top: 7px;}
.detail_right .money .textPrimary strong {  font-size: 38px; font-weight: normal;}
.detail_right .dt_lins{ width: 733px;  height: 47px;line-height: 35px; margin-top: 20px;float: left;  font-size: 14px; color: #333;}
.detail_right .dt_lins > .title { width: 50px; float: left;}
.detail_right .dt_lins .norm_list > a {line-height: 35px; height: 35px; float: left; padding: 0 15px; margin: 0 10px 10px 0;  color: #333;  font-size: 14px;  border: 1px solid #d1d1d1; position: relative; background-color: #fff; transition: border-color 0.3s ease; cursor: pointer;}
.detail_right .dt_lins .norm_list > a.active, .detail_meta .detail_right .dt_lins .norm_list > a:hover { border: 2px solid #e14041; padding: 0 14px;  height: 33px;   line-height: 33px;}
.detail_right .dt_lins .norm_list > a:hover{border: 2px solid #e14041;padding: 0 14px;height: 33px;line-height: 33px;}
.detail_right .dt_lins.quantity { line-height: 30px; position: relative; }
.detail_right .dt_lins.quantity .less {  width: 12px;  height: 30px;  text-align: center; background: url(../images/50416.png) no-repeat center; float: left;   cursor: pointer;  transition: all 1s ease-out;}
.detail_right .dt_lins.quantity .quantity_txt {line-height: 28px; height: 28px;  border: 1px solid #d1d1d1;  float: left;  width: 50px; text-align: center;  margin: 0 10px;   padding: 0;}
.detail_meta .detail_right .dt_lins.quantity .add{ width: 12px; height: 30px;text-align: center;  background: url(../images/50415.png) no-repeat center; float: left; cursor: pointer; transition: all 1s ease-out;}
.detail_meta .quantity .kucun { font-size: 12px;  color: #999;  margin-left: 15px;}
/*<!--地址选择-->*/
.detail_right .dt_lins.region .region_list {float: left; position: relative; width: 231px; height: auto;}


.detail_meta .btnAddToCart { cursor: pointer;  float: left;  width: 190px; height: 44px; line-height: 44px;   text-align: center;  color: #fff;  font-size: 18px;   background: #e14041 url(../images/che.jpg) no-repeat 20px;  border-top: 1px #f0a0a0 solid;  border-bottom: 1px solid #a42f30; transition: all .24s;}
.detail_meta .btnAddToCart:hover{opacity: 0.7;}
.detail_meta .but25 { cursor: pointer; width: 45px; height: 44px; line-height: 44px;  border: 1px solid #d1d1d1;  margin-left: 10px; padding: 0 20px;   float: left; font-size: 12px; }
.detail_meta .btnAddFavorite i {  display: inline-block; width: 15px;  height: 15px; font-size: 0; margin-right: 6px;   background: url(../images/50473.png) no-repeat;}

/*加入购物车弹出对话款*/
.success{width: 450px; display: none; height: auto; position: absolute; bottom:54px; background: #fff; border: 1px solid #dedede; box-shadow: 0 2px 10px rgba(0, 0, 0, .08); z-index: 1000; top: auto; bottom: 54px;font-size: 14px; color: #333;}
.success .messagePanelHd{position: relative; line-height: 38px;  padding: 0 0 0 20px;  font-size: 14px;  background: #fafafa;  border-bottom: 1px solid #dedede;}
.messagePanelHd .closeBtn { width: 20px; height: 20px;  background:url(../images/50378.png) no-repeat;  cursor: pointer;   position: absolute;   right: 8px;  top: 10px;}
.messagePanelBd {padding: 5px 20px 10px 20px; overflow: hidden;}
.mt5 { margin-top: 5px; overflow: hidden;}
.mt10 { margin-top: 10px;}
.fl { float: left;}
.success .allgoods{color: red;}
.btnWrap { margin-left: 52px;}
.success .btn {  float: left;   height: 34px;  line-height: 34px;  padding: 0 20px;   margin-top: 12px;   margin-right: 12px;   font-size: 14px;display: inline-block;}
.success .title {line-height: 36px; margin-top: -2px;    display: block;   margin-bottom: 0;   font-size: 24px; color: #78b135;font-weight: normal;}
.success span{ color: #292929;}
.success .btnWrap {margin-left: 52px;}
.default { background: url(../images/50373.png) repeat-x; height: 34px; border: 1px solid #d1d1d1;}
.primary { background-color: #e14041;  background-image: none;  border: none;   border-top: 1px solid #f0a3a3;  border-bottom: 1px solid #a42f30;  color: #fff; font-size: 14px; transition: all 0.5s ease 0s;padding: 0 14px;}


/*外面左面小部分*/
#center .left {width: 250px; height: 220px; float: left;}
.left .nav_list { width: 100%; margin-bottom: 15px; height: 175px; float: left; position: relative; box-shadow: 2px 2px 2px #e2e2e2;}
.left > .nav_list > .title2 {  width: 100%;  height: 45px; line-height: 45px;  color: #222;  font-size: 16px; float: left;  text-indent: 20px;  background-color: #fff; cursor: pointer;  transition: all 0.3s ease;}
.left > .nav_list > .list {  width: 100%; float: left; padding-bottom: 10px; background: url(../images/50412.png) repeat-x 0 top #fff;}
.left > .nav_list > .list > a { color: #333; font-size: 14px; width: 95px;  padding: 10px 0 10px 35px; margin-left: -5px; float: left;  line-height: 20px;  cursor: pointer;}
.left > .nav_list > .list > a:hover, .product > .left > .nav_list > .list > a.active { color: #fff; background-color: #e14041;}


/*外面右面小部分*/
.right { width: 920px; display:block;float: right; overflow: hidden; position: relative;}
.right > .nav { width: 100%; height: 40px;  float: left; border-bottom: 1px solid #e14041; background-color: #fff;}
.right > .nav a {width: 70px; height: 40px; display: block; line-height: 40px;font-size: 14px; float: left;  padding: 0 20px;  cursor: pointer;   transition: all 0.5s ease;}
.right > .nav .active {  background-color: #e14041;  color: #fff!important;}
.right > .nav a:hover { color: #e14041;}

.right .center_html {float: left; text-align: center; width: 100%; position: relative; padding-top: 15px;   background-color: #fff;   line-height: 0;}
.right .center_html img{display: inline-block;}
.right .center_html li{display: none;}
.right .center_html .show{display: block;}
.modelTable{border: 1px solid #ededed;line-height: 38px; border-collapse: collapse; width: 870px;    border-spacing: 2px;display: table;font-size: 14px;color: #333;}
.modelTable tbody {   display: table-row-group;   vertical-align: middle;   border-color: inherit;}
.modelTable tr, .modelTable th, .modelTable td {  border: 1px solid #ededed; }
.modelTable .desc { padding-left: 25px;text-align: left;}




















